<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--来源数据库连接-->
    <add name="SrcStr" connectionString=""/>
    <!--站点数据库连接-->
    <add name="DescStr" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <!--是否自动执行，True：是 False：否-->
    <add key="IsAuto" value="False"/>
    <!--数据库名称-->
    <add key="DbName" value="dragonvideo"/>
    <!--需要同步的表，用 "," 号隔开-->
    <add key="TableNames" value="t_sys_camera,t_person_info,t_gather_info"/>
  </appSettings>
</configuration>